In [24]:
3+3

6

In [25]:
a = 'everything alright'
a[2]
a[1:7]
a.replace ('y', 'z')

'everzthing alright'

In [26]:
4>3 
a = 13
b = 14

a == b
a < b
a != b

(a > 5) and (a % 2 == 0) # auch or oder not

False

Lists, Tuples, Dictionarys

In [27]:
a_list = [4, 3, 'hallo', 4.3, 9]
a_list
a_list[2]
a_list[2:4] # list ausgabe zwei bis vier
a_list[:3]
a_list[3:]
a_list[-1]
a_list.append(13)
a_list

other_list =  [[1,2,3], [4,5,6]]
other_list[1]
other_list[0][2]

a_tuple = (4, 6, 'hallo')
a_tuple

(4, 6, 'hallo')

In [28]:
a_dictionary = {'Hans': 'hat glück', 'Marie': 'hat Pech', 'Carla' : 42}
a_dictionary['Marie']

'hat Pech'

Fallunterscheidung und Schleifen

In [29]:
name = 'Annne'
if name == 'Hans': 
        print('Hallo Hans')
else: 
    print('Hallo nicht Hans')

Hallo nicht Hans

In [30]:
for i in range (10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [31]:
x = 7
while x > 2:
    print(x)
    x = x-2

7
5
3

List comprehensions

In [32]:
quadratzahlen = []
for x in range(10):
    quadratzahlen.append(x**2)
quadratzahlen

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
[i**2 if i%2 == 0 else'Hallo'+ str(i) for i in range(10) ]# i-quadrat

[0, 'Hallo1', 4, 'Hallo3', 16, 'Hallo5', 36, 'Hallo7', 64, 'Hallo9']

In [35]:
with open('textdatei.txt') as f: #Gängige art Dateien zu laden
    lines = f.readlines()
lines

['Hochschule Aschaffenburg\n',
 'Egals \n',
 'Dies ist eine Zeile\n',
 'Hallo Welt']

In [36]:
sum([line.count('e') for line in lines])

8

Funktionen

In [37]:
def my_function(x,y,z):
    a  = 2 * x + y * z 
    
    return a
my_function(3,2,7)
my_function(x = 3, z = 7, y = 2)

20

In [38]:
%%timeit
sum(x**2 for x in range(100000))

66.8 ms ± 8.88 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [39]:
import numpy as np

In [40]:
a = np.array([6.5, 7.2, 2, -4])
type(a)
b = np.arange(10)
b
c = np.arange(15).reshape(3, 5)
c

rng = np.random.default_rng(42)
rng.uniform(0,2,10)

array([1.5479121 , 0.87775688, 1.71719584, 1.39473606, 0.1883547 ,
       1.9512447 , 1.5222794 , 1.57212861, 0.25622727, 0.90077188])

In [41]:
d = 3
2*a +3 
b + d

a.sum()
a.mean()
a.max()
np.exp(a)

array([6.65141633e+02, 1.33943076e+03, 7.38905610e+00, 1.83156389e-02])